#nom{
    color :red;
    font-size: 4em;
}
.texte{
    font-size: 300%;
}
#titrenav{
    color: blue;
    font-size: 2em;
}
.container-fluid{
    margin-top: 22%;
}
#button{
    font-size: 3em;
    margin-left: auto;
}
.textecomp,
.table{
    font-size: 2em;
}
