#nom{
font-size:5em;
color:red; 
}
.texte{
    font-size: 300%;
}
#titrenav{
    color: red;
    font-size: 2em;
}
.container-fluid{
    margin-top: 22%;
}
#button{
    font-size: 3em;
    margin-left: auto;
}