#nom{
    color :red;
    font-size: 30px;
}
#titrenav{
    color: red;
    font-size: 25px;
}
.texte{
    text-align: center;
    font-size: 2em;
}
.navtext{
    margin-left: auto;
    font-size: 2em;
}
.textecomp{
    color: red;
    font-size: 2em;
    text-align: center;
}
.texteform{
    font-size: 2em;
}
.container-fluid{
    margin-top: 100px;
}
.datexp{
    font-size: 2em;
    text-align: center;  
}
#table{
    color:red;
}