#nom{
    color :red;
    font-size: 30px;
}
#titrenav{
    color: red;
    font-size: 25px;
}
.navtext{
    margin-left: auto;
    font-size: 2em;
}
.Texte{
    font-size: 2em;
    text-align: center;
}